body{
    color:#ddd;
}
.main-content{
    display: flex;
    flex-direction: column;
}
.industry_rank{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.industry_rank_wrapper{
    /*width:100%;*/
}
.industry_rank_value{
    margin-bottom:30px;
}
.industry_rank table{
    display: block;
}
table{
    border-spacing: 5px 5px;
}
tr{
    height:25px;
    margin-top:40px;
    cursor:pointer;
}
.pointers{
    position: absolute;
    top:380px;
    left:-18px;
}
.select{
    margin-top:10px;
    margin-bottom:30px;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #ffde00;
    border-bottom: 10px solid transparent;
    /*opacity: 0;*/
}
#pointer{
    position:absolute;
}
#industry_rank_total td{
    height:40px;
}
#industry_rank_total tr:hover{
    background: #3a4f60;
}
.industry_rank th,.industry_rank td{
}
.industry_rank_total tr{
    /*margin:5px 0 5px 0;*/
    /*padding:5px 0 5px 0;*/
}
/*#industry_rank_total th,#industry_rank_total td,#stock_rank_total th,#stock_rank_total td{*/
#industry_rank_total td,#stock_rank_total td{
    padding-right:30px;
    padding-top:5px;
    padding-bottom: 5px;
}
#stock_rank_total td span{
    font-size:12px;
}
.column_rank{
    width:45px;
    padding-right:0;
}
.column_name{
    width:100px;
    padding-right: 20px;
}
.column_name_id{
    width:150px;
}
.column_last{
    padding-right: 0;
}
.column_grade{
    width:70px;
}
th:nth-child(last){
    padding-right: 0;
}
.stock_content_title button{
    font-size: 16px;
    background: none;
    border:none;
    outline: 0;
    cursor: pointer;
    color: #ffde00;
    position: absolute;
    right:15px;
    bottom:8px;
}
.column_toggle{
    width:70px;
}
.column_hide{
    display:none;
}
.rotate1{
    transform: rotate(180deg);
}

#stockListWrapper{
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}