.main-content{
    display: flex;
}
.stock_blanket{
    width:25%;
}
.compare_main{
    width:75%;
}
.stock_blanket_item{
    padding:10px 0 10px 0;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.stock_blanket_item .stock_info{
    padding-left:20px;
    padding-right: 20px;
}
.stock_blanket_item .stock_info h2{
    font-size:18px;
}
.stock_blanket_item .stock_info h3{
    font-size:14px;
}
.see{
    width:25px;
    height:25px;
}
.stock_blanket button{
    margin:10px auto 5px 20px;
    width:120px;
    height:35px;
    display: block;
    background: none;
    font-size: 14px;
    color:#ffde00;
    border:1px #ffde00 solid;
    outline: 0;
    cursor: pointer;
}
.stock_blanket button:hover{
    color:#031b2f;
    background-color: #ffde00;
    transition: 0.4s;
}
#compare_grade,#compare_forecast{
    height:400px;
}

#compare_graph{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.basic_graph_wrapper_other{
    margin-right:0;
    margin-bottom: 20px;
    width:50%;
}
.graph_basic_other{
    width:100%;
}
#macd_graph {
    height:300px;
}
#macd_graph {
    height:300px;
}
#rsi_graph {
    height:300px;
}
#kdj_graph {
    height:300px;
}
#boll_graph {
    height:300px;
}
